<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The <a href="http://localhost:3000">Not for profit</a>
  is a software service to manage a not for profit organisation
  with <a href="http://localhost:3000/">Not for profit</a>.
</p>