<div class="center hero-unit">
    <h1>AWM</h1>
    <h2>
      Advanced Warehouse Management System for Small Businesss
      software.
    </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("box.png", alt: "Rails"), 'http://drrew.com.au/' %>  
<%= link_to image_tag("shipping-truck.png", alt: "Rails"), 'http://drrew.com.au/' %>
<%= link_to image_tag("chart.png", alt: "Rails"), 'http://drrew.com.au/' %>
