<footer>
  <div class="row">
    <div class="col-lg-12">
      <p>Made by <a href="hhttp://drrew.com.au">DRrEW Business and Consulting Services</a>. Contact DRrEW at <a href="mailto:contact@drrew.com.au">contact@drrew.com.au</a>.</p>
    </div>
  </div>        
</footer>